.modal_bg_first {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(15px);
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_bg_second {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_container {
    width: 500px;
    height: 600px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.modal_container .title {
    text-align: center;
}

.modal_container .body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.modal_container input {
    width: 102%;
    font-size: 1.7rem;
    margin-top: 1rem;
    text-align: center;
}

.modal_container .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.footer button {
    width: 7rem;
    height: 3rem;
    margin: 10px;
    border: none;
    color: white;
    border-radius: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

#cancel_button {
    background-color: rgb(255, 0, 0);
}

#cancel_button:hover {
    background-color: rgb(210, 0, 0);
}

#back_button {
    background-color: rgb(0, 0, 255);
}

#back_button:hover {
    background-color: rgb(0, 0, 210);
}

#submit_button, #submit_button_second{
    background-color: rgb(0, 255, 0);
}

#submit_button:hover, #submit_button_second:hover{
    background-color: rgb(0, 210, 0);
}

button:hover {
    transform: scale(1.1);
	transition-duration: 0.1s;
}
