.loginscreen_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.loginscreen_form input, .loginscreen_form button {
  padding: 1rem;
  font-size: 1rem;
  margin: 1rem 0;
  border-radius: 3rem;
}

.loginscreen_form button {
  font-size: 1.5rem;
  font-weight: 550;
  width: 20rem;
  background-color: rgb(220, 220, 220);
}

.loginscreen_form button:hover {
  cursor: pointer;
  background-color: rgb(175, 175, 175);
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgb(49, 49, 49) 3%, rgb(94, 94, 94) 38%, rgb(175, 175, 175) 68%, rgb(219, 219, 219) 98%);
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

.welcome {
  animation: color-change 30s ease infinite;
}

@keyframes color-change {
  3% {color: rgb(219, 219, 219);}
  38% {color: rgb(175, 175, 175);}
  68% {color: rgb(94, 94, 94);}
  98% {color: rgb(49, 49, 49);}
}

@keyframes gradient {
  0% {background-position: 0% 0%;}
  50% {background-position: 100% 100%;}
  100% {background-position: 0% 0%;}
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 20s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 36s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 40s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {transform: translateX(1);}
  25% {transform: translateX(-25%);}
  50% {transform: translateX(-50%);}
  75% {transform: translateX(-25%);}
  100% {transform: translateX(1);}
}