nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
}

.message {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
}